@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    12, khu phố 6, phường Linh Trung, quận Thủ Đức, Thành phố Hồ Chí Minh
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Thanh@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Trang@example.com</a>
</address>